<div class="container app">
  <div class="row">
    <div class="col-sm-8">
      <h1 class="text-center">
        {{title}}
      </h1>
    </div>
    <div class="col-sm-4">
      <div class="alert alert-success alert-dismissable" *ngIf="msg">
        <a href="#" class="close" (click)="closeAlert()">
          &times;
        </a>
        {{msg}}
      </div>
    </div>
  </div>
  <div class="row">
  <div class="col-sm-8">
    <h2>Ingrese Datos:</h2>
    <Form class="form-horizontal">
      <div class="form-group">
        <label for="name" class="control-label col-sm-2">
          Nombre
        </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name"
          name="name" [(ngModel)]="model.name"
          placeholder="Ingresar Nombre y Apellido"
          >
        </div>
      </div>
    <div class="form-group">
      <label for="position" class="control-label col-sm-2">
        Posicion
      </label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="position"
          name="position" [(ngModel)]="model.position"
          placeholder="Ingresar cargo"
        >
      </div>
    </div>
      <div class="form-group">
        <label for="email" class="control-label col-sm-2">
          Email
        </label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="email"
            name="email" [(ngModel)]="model.email"
            placeholder="Ingresar correo"
          >
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-10 col-sm-offset-2">
          <button type="submit" class="btn btn-success" (click)="addEmpleado()">
            Guardar
          </button>
        </div>
      </div>
    </Form>
  </div>
  <div class="row">
    <div class="col-sm-8">
      <h2>Datos Ingresados:</h2>
      <table class="table table-bordered">
        <thead>
        <tr>
          <th>Nombre</th>
          <th>Posicion</th>
          <th>Accion</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let empleado of empleados; let i = index">
          <td>{{empleado.name}}</td>
          <td>{{empleado.position}}</td>
          <td>
            <a (click)= "editEmpleado(i)" class="btn btn-success">
              Edit
            </a>
            <a (click)= " deleteEmpleado(i)" class="btn btn-danger">
              Delete
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>

    <div>
      <div class="col-sm-4"[hidden]="hideUpdate">
        <h2>Actualizar Datos:</h2>
        <Form class="form-horizontal">
          <div class="form-group">
            <label for="name" class="control-label col-sm-2">
              Nombre
            </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="name"
                     name="name" [(ngModel)]="model2.name"
                     placeholder="Ingresar Nombre y Apellido"
              >
            </div>
          </div>
          <div class="form-group">
            <label for="position" class="control-label col-sm-2">
              Posicion
            </label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="position"
                     name="position" [(ngModel)]="model2.position"
                     placeholder="Ingresar cargo"
              >
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10 col-sm-offset-2">
              <button type="submit" class="btn btn-success" (click)="updateEmpleado()">
                Actualizar
              </button>
            </div>
          </div>







