/* You can add global styles to this file, and also import other style files */
body {
  background: #02AAB0;
  background: -webkit-linear-gradient(left, #00CDAC, #02AAB0);
  background: -moz-repeating-linear-gradient(left, #00CDAC, #02AAB0);
  background: -o-repeating-linear-gradient(left, #00CDAC, #02AAB0);
  background: linear-gradient(to rigth, #00CDAC, #02AAB0);
}
